@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;

}
@layer components{
.home-image{
    background-image: url('../public/home/Web_Photo_Editor.jpg');
    aspect-ratio: 16/9;

    background-repeat: no-repeat;
    background-size:contain ;

}
.home-background{
    background-color: rgba(0,0,0,0.5);
   }

}

@layer components{
    .home-section-div{
        @apply flex flex-col justify-center items-center w-1/4 h-full py-4
    }
    .home-icons-heading{
        @apply text-center flex text-xl font-[700] leading-4 py-4 m-1
    }
    .home-icons-subheading{
        @apply text-[14px] flex leading-loose font-[400] text-center w-full p-8
    }
}
