@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@layer components {
  .home-image {
    background-image: url("/home/Web_Photo_Editor.jpg");
    aspect-ratio: 16/9;

    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: red; */
  }
  .home-background {
    background-color: rgba(0, 0, 0, 0.5);
  }
  a {
    /* font-weight: 800; */
    position: relative;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    /* display: block; */
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(49, 49, 49);
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }
  a:hover {
    color: #ea906c;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
}

@layer components {
  .home-section-div {
    @apply flex flex-col justify-evenly items-center  w-full lg:w-auto min-h-[20rem] glass p-5;
  }
  .yt-videos {
    @apply w-[48vw] max-w-[32rem] min-w-[24rem] aspect-video;
  }
  .image-name {
    @apply flex flex-col items-center gap-4;
  }
  .glass {
    @apply bg-slate-300 shadow-lg backdrop-blur-md rounded-[10px] p-8;
  }
  .home-icons-heading {
    @apply text-center flex text-xl font-[700] leading-4;
  }
  .home-icons-subheading {
    @apply text-[14px] flex leading-loose font-[400] text-justify w-full;
  }

  .selected {
    @apply bg-slate-200 rounded-md;
  }
}
